@import '../colors.scss';

.Registration {
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
  text-transform: uppercase;

  .Registration-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;

    img {
      max-width: 60%;
    }

    h2 {
      color: $brown-text !important;
      font-family: 'Montserrat-Light';
      margin-top: -1rem;
    }
  }

  .Registration-desc {
    max-width: 23rem;
    margin-top: 3rem;
    h2 {
      text-align: center;
      color: $brown-text !important;
    }
  }

  .Registration-form {
    display: flex;
    justify-content: center;
  }
}
