.Registration {
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;

  .Registration-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;

    img {
      max-width: 60%;
    }

    p {
      text-align: center;
    }
  }

  .Registration-form {
    display: flex;
    justify-content: center;
  }
}
