@import '../colors.scss';

h1 {
  text-align: center;
  color: $brown-text !important;
  font-family: 'Montserrat-Medium';

  button {
    text-transform: uppercase;
    border: none;
    background-color: $background;
    width: 3rem;
  }

  button:hover {
    background-color: #e4e4de;
  }
}
